<!-- Sidebar -->
<div class="w3-sidebar w3-bar-block w3-animate-left" style="display:none;z-index:4" id="mySidebar" [style.display]="sidebarDisplay">
    
    <img src="../../assets/logo.png" width="140" height="140" id="logo"/>
    <br>
    <hr color="white"/>
    <a class="w3-bar-item w3-button"><img src="../../assets/accueil.png" width="30" height="30"/> <span class="textNav">Principale</span></a>
    <a class="w3-bar-item w3-button" routerLink="/add_book" (click)="addBookPage()"><img src="../../assets/livre.png" width="30" height="30"/> <span class="textNav">Ajouter un livre</span></a>
    <a class="w3-bar-item w3-button"><img src="../../assets/search.png" width="30" height="30"/> <span class="textNav">Chercher un livre</span></a>
    <a class="w3-bar-item w3-button"><img src="../../assets/validateE.png" width="30" height="30"/> <span class="textNav">Valider les emprunts</span></a>
    <a class="w3-bar-item w3-button"  routerLink="/valid_user" (click)="validUserPage()"><img src="../../assets/validate.png" width="30" height="30"/> <span class="textNav">Valider les inscriptions</span></a>
    <a class="w3-bar-item w3-button"><img src="../../assets/historique.png" width="30" height="30"/> <span class="textNav">Historique</span></a>
    <a class="w3-bar-item w3-button"><img src="../../assets/userI.png" width="30" height="30"/> <span class="textNav">Chercher un utilisateur</span></a>
    <a class="w3-bar-item w3-button"><img src="../../assets/userpass.png" width="30" height="30"/> <span class="textNav">Changer user & password</span></a>

    <br>


  </div>
  



  <!-- Overlay -->
  <div class="w3-overlay" (click)="closeNav()" style="cursor:pointer" [style.display]="overlayDisplay"></div>
  
  <!-- Page content -->
  <div id="menBar" class="w3-container w3-dark-gray">  <span id="btn" class="w3-xxlarge" (click)="openNav()">&#9776;</span> <span id="titre">{{titre}}</span>
    
  </div>





<div class="w3-container">
    
<router-outlet></router-outlet>


  </div>
